@model IEnumerable<IO.App.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "List Products";
}

<h1>@ViewData["Title"]</h1>
<hr />
<vc:summary></vc:summary>

<p>
    <a class="btn btn-info" asp-action="Create">New Product</a>
</p>

<partial name="_ListProducts" />